## __Exploración Inicial de los datos__

In [48]:
from pandas_datareader import data as pdr

import yfinance as yf
import pandas as pd

In [49]:
#Definimos el ticker para la consulta
simbolo ='BIIB'
Biogen = yf.Ticker(simbolo)
Biogen.history(period= 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1991-09-17 00:00:00-04:00,3.000000,3.250000,3.000000,3.125000,17096400,0.0,0.0
1991-09-18 00:00:00-04:00,3.041667,3.208333,3.041667,3.125000,1704000,0.0,0.0
1991-09-19 00:00:00-04:00,3.041667,3.166667,3.041667,3.145833,1717800,0.0,0.0
1991-09-20 00:00:00-04:00,3.166667,3.166667,3.083333,3.083333,2092800,0.0,0.0
1991-09-23 00:00:00-04:00,3.166667,3.166667,2.958333,2.958333,1954800,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-20 00:00:00-04:00,264.649994,268.790009,262.760010,267.910004,878400,0.0,0.0
2023-03-21 00:00:00-04:00,268.970001,268.989990,264.140015,266.149994,621300,0.0,0.0
2023-03-22 00:00:00-04:00,266.109985,267.250000,260.950012,261.220001,530500,0.0,0.0
2023-03-23 00:00:00-04:00,262.839996,267.450012,262.500000,265.170013,703700,0.0,0.0
2023-03-24 00:00:00-04:00,265.440002,268.679993,263.149994,268.459991,289295,0.0,0.0

In [31]:
msft = yf.Ticker("MSFT")

In [30]:
msft.head()

AttributeError: 'Ticker' object has no attribute 'head'

In [8]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [22]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,32.791668,32.833332,28.645832,31.083332,31.083332,2792700
2000-01-04,29.875000,30.916668,28.583332,28.979168,28.979168,2935500
2000-01-05,28.708332,31.500000,25.000000,31.000000,31.000000,3390000
2000-01-06,30.166668,32.833332,29.666668,32.375000,32.375000,2742300
2000-01-07,32.333332,36.166668,32.333332,36.104168,36.104168,4736400
...,...,...,...,...,...,...
2023-03-16,259.459991,267.149994,259.369995,265.250000,265.250000,1010600
2023-03-17,264.790009,265.209991,260.739990,263.160004,263.160004,1602200
2023-03-20,264.649994,268.790009,262.760010,267.910004,267.910004,878400
2023-03-21,268.970001,268.989990,264.140015,266.149994,266.149994,621300
2023-03-22,266.109985,267.250000,260.950012,261.220001,261.220001,530100

In [32]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [47]:
payload = pd.read_html(url)

# Hay 2 tablas en la pagina de Wikipedia. 
first_table = payload[0]
second_table = payload[1]

# En la primera tabla los datos que se quiere.


df500_table = first_table

df500_table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [13]:
yf.pdr_override()

In [45]:
data = pdr.get_data_yahoo("BIIB", start="2000-01-01", end="2022-04-30")

[*********************100%***********************]  1 of 1 completed

In [46]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,32.791668,32.833332,28.645832,31.083332,31.083332,2792700
2000-01-04,29.875000,30.916668,28.583332,28.979168,28.979168,2935500
2000-01-05,28.708332,31.500000,25.000000,31.000000,31.000000,3390000
2000-01-06,30.166668,32.833332,29.666668,32.375000,32.375000,2742300
2000-01-07,32.333332,36.166668,32.333332,36.104168,36.104168,4736400
...,...,...,...,...,...,...
2022-04-25,209.820007,215.580002,208.419998,214.539993,214.539993,1040500
2022-04-26,213.000000,214.509995,206.520004,206.990005,206.990005,1110300
2022-04-27,207.619995,209.929993,206.240005,206.940002,206.940002,728800
2022-04-28,207.789993,211.289993,204.860001,210.410004,210.410004,876700
2022-04-29,210.669998,214.619995,206.970001,207.440002,207.440002,1049400