## __Exploración Inicial de los datos__

In [61]:
from pandas_datareader import data as pdr

import yfinance as yf
import pandas as pd

In [62]:
#Definimos el ticker para la consulta
simbolo ='BIIB'
Biogen = yf.Ticker(simbolo)
Biogen.history(period=)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1991-09-17 00:00:00-04:00,3.000000,3.250000,3.000000,3.125000,17096400,0.0,0.0
1991-09-18 00:00:00-04:00,3.041667,3.208333,3.041667,3.125000,1704000,0.0,0.0
1991-09-19 00:00:00-04:00,3.041667,3.166667,3.041667,3.145833,1717800,0.0,0.0
1991-09-20 00:00:00-04:00,3.166667,3.166667,3.083333,3.083333,2092800,0.0,0.0
1991-09-23 00:00:00-04:00,3.166667,3.166667,2.958333,2.958333,1954800,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-20 00:00:00-04:00,264.649994,268.790009,262.760010,267.910004,878400,0.0,0.0
2023-03-21 00:00:00-04:00,268.970001,268.989990,264.140015,266.149994,621300,0.0,0.0
2023-03-22 00:00:00-04:00,266.109985,267.250000,260.950012,261.220001,530500,0.0,0.0
2023-03-23 00:00:00-04:00,262.839996,267.450012,262.500000,265.170013,703700,0.0,0.0
2023-03-24 00:00:00-04:00,265.440002,268.690002,263.149994,268.559998,302856,0.0,0.0

In [84]:
#Juntamos las empresas del sector de biotecnología

empresas= [
    'AMGN', #Amgen 
    'BIIB', #Biogen
    'GILD', #Gilead Science
    'INCY', #Ncyte
    #'MRNA', #Moderna ##Se descarta por no cotizar durante los primeros años del periodo de interés
    'REGN', #Regeneron
    'VRTX' #Vertex
]

In [70]:
start_date= "2000–01–01"
end_date="2023–01–01"

In [127]:
recolector =[]

for i in empresas:
    ticker= yf.Ticker(i)
    px=ticker.history(period='23y',interval= '1mo')['Close']
    px.name= i 

    recolector += [px]

precios= pd.concat(recolector, axis= 1)

precios

,AMGN,BIIB,GILD,INCY,REGN,VRTX
Date,,,,,,
2000-04-01 00:00:00-05:00,41.610893,21.333332,1.295064,38.500000,28.562500,26.125000
2000-05-01 00:00:00-04:00,47.276680,21.270832,1.307014,26.375000,20.375000,36.937500
2000-06-01 00:00:00-04:00,52.199383,39.104168,1.699865,41.093750,29.812500,52.687500
2000-07-01 00:00:00-04:00,48.251934,40.937500,1.771564,37.906250,28.062500,48.968750
2000-08-01 00:00:00-04:00,56.332623,46.541668,2.581166,41.468750,35.437500,85.000000
...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,281.954346,305.170013,86.285896,79.669998,751.700012,316.399994
2022-12-01 00:00:00-05:00,260.344086,276.920013,84.340706,80.320000,721.489990,288.779999
2023-01-01 00:00:00-05:00,250.193588,290.899994,83.148216,85.139999,758.469971,323.100006
2023-02-01 00:00:00-05:00,229.634903,269.859985,79.770378,76.980003,760.419983,290.290009
2023-03-01 00:00:00-05:00,238.029999,270.029999,80.000000,70.230003,820.000000,314.390015

In [129]:
recolector_2 =[]

for i in empresas:
    ticker= yf.Ticker(i)
    px=ticker.history(period='23y',interval= '1mo')['Volume']
    px.name= i 

    recolector_2 += [px]

volumenes = pd.concat(recolector_2, axis= 1)

volumenes

,AMGN,BIIB,GILD,INCY,REGN,VRTX
Date,,,,,,
2000-04-01 00:00:00-05:00,215305700,99102900,430595200,42900000,7410100,12064200
2000-05-01 00:00:00-04:00,147977200,56663700,415628800,39974200,2591700,22445200
2000-06-01 00:00:00-04:00,141961800,101900700,403993600,56961000,3481800,38559800
2000-07-01 00:00:00-04:00,161431700,60996600,298044800,36664000,3691000,23238200
2000-08-01 00:00:00-04:00,132864800,47665500,426982400,45756400,4598500,27046300
...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,64904800,27706200,173745300,29157700,14471400,32626300
2022-12-01 00:00:00-05:00,56429400,23481700,158184300,27954200,12465700,26273500
2023-01-01 00:00:00-05:00,43432900,24119500,126112900,37808300,12419000,29202700
2023-02-01 00:00:00-05:00,52523200,17526100,129060800,32919600,12341300,24507900
2023-03-01 00:00:00-05:00,47775013,16089051,106988137,27704770,12460106,20390189

In [130]:
#volumenes de cada empresa por cada mes
volumenes.columns = ['AMGN_V', 'BIIB_V', 'GILD_V', 'INCY_V', 'REGN_V', 'VRTX_V']

In [131]:
volumenes

,AMGN_V,BIIB_V,GILD_V,INCY_V,REGN_V,VRTX_V
Date,,,,,,
2000-04-01 00:00:00-05:00,215305700,99102900,430595200,42900000,7410100,12064200
2000-05-01 00:00:00-04:00,147977200,56663700,415628800,39974200,2591700,22445200
2000-06-01 00:00:00-04:00,141961800,101900700,403993600,56961000,3481800,38559800
2000-07-01 00:00:00-04:00,161431700,60996600,298044800,36664000,3691000,23238200
2000-08-01 00:00:00-04:00,132864800,47665500,426982400,45756400,4598500,27046300
...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,64904800,27706200,173745300,29157700,14471400,32626300
2022-12-01 00:00:00-05:00,56429400,23481700,158184300,27954200,12465700,26273500
2023-01-01 00:00:00-05:00,43432900,24119500,126112900,37808300,12419000,29202700
2023-02-01 00:00:00-05:00,52523200,17526100,129060800,32919600,12341300,24507900
2023-03-01 00:00:00-05:00,47775013,16089051,106988137,27704770,12460106,20390189

In [132]:
Market_Cap= pd.concat([precios, volumenes], axis=1)

In [133]:
Market_Cap

,AMGN,BIIB,GILD,INCY,REGN,VRTX,AMGN_V,BIIB_V,GILD_V,INCY_V,REGN_V,VRTX_V
Date,,,,,,,,,,,,
2000-04-01 00:00:00-05:00,41.610893,21.333332,1.295064,38.500000,28.562500,26.125000,215305700,99102900,430595200,42900000,7410100,12064200
2000-05-01 00:00:00-04:00,47.276680,21.270832,1.307014,26.375000,20.375000,36.937500,147977200,56663700,415628800,39974200,2591700,22445200
2000-06-01 00:00:00-04:00,52.199383,39.104168,1.699865,41.093750,29.812500,52.687500,141961800,101900700,403993600,56961000,3481800,38559800
2000-07-01 00:00:00-04:00,48.251934,40.937500,1.771564,37.906250,28.062500,48.968750,161431700,60996600,298044800,36664000,3691000,23238200
2000-08-01 00:00:00-04:00,56.332623,46.541668,2.581166,41.468750,35.437500,85.000000,132864800,47665500,426982400,45756400,4598500,27046300
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,281.954346,305.170013,86.285896,79.669998,751.700012,316.399994,64904800,27706200,173745300,29157700,14471400,32626300
2022-12-01 00:00:00-05:00,260.344086,276.920013,84.340706,80.320000,721.489990,288.779999,56429400,23481700,158184300,27954200,12465700,26273500
2023-01-01 00:00:00-05:00,250.193588,290.899994,83.148216,85.139999,758.469971,323.100006,43432900,24119500,126112900,37808300,12419000,29202700
2023-02-01 00:00:00-05:00,229.634903,269.859985,79.770378,76.980003,760.419983,290.290009,52523200,17526100,129060800,32919600,12341300,24507900
2023-03-01 00:00:00-05:00,238.029999,270.029999,80.000000,70.230003,820.000000,314.390015,47775013,16089051,106988137,27704770,12460106,20390189

In [136]:
Market_Cap['MarketCap_AMGN']= Market_Cap['AMGN']*Market_Cap['AMGN_V']
Market_Cap['MarketCap_BIIB']= Market_Cap['BIIB']*Market_Cap['BIIB_V']
Market_Cap['MarketCap_GILD']= Market_Cap['GILD']*Market_Cap['GILD_V']
Market_Cap['MarketCap_INCY']= Market_Cap['INCY']*Market_Cap['INCY_V']
Market_Cap['MarketCap_REGN']= Market_Cap['REGN']*Market_Cap['REGN_V']
Market_Cap['MarketCap_VRTX']= Market_Cap['VRTX']*Market_Cap['VRTX_V']

In [137]:
Market_Cap_Sel= Market_Cap[['MarketCap_AMGN', 'MarketCap_BIIB', 'MarketCap_GILD', 'MarketCap_INCY', 'MarketCap_REGN', 'MarketCap_VRTX']]

In [125]:
Market_Cap_Sel

,MarketCap_AMGN,MarketCap_BIIB,MarketCap_GILD,MarketCap_INCY,MarketCap_REGN,MarketCap_VRTX
Date,,,,,,
2003-04-01 00:00:00-05:00,1.031936e+10,2.994915e+09,2.725191e+09,2.647137e+07,1.777559e+08,1.894771e+08
2003-05-01 00:00:00-04:00,1.073716e+10,3.084174e+09,2.921764e+09,6.545628e+07,4.790808e+08,2.012962e+08
2003-06-01 00:00:00-04:00,1.036659e+10,4.692148e+09,3.895007e+09,6.190328e+07,5.097808e+08,2.809531e+08
2003-07-01 00:00:00-04:00,9.896647e+09,3.806906e+09,4.741807e+09,4.868482e+07,1.182966e+08,2.157981e+08
2003-08-01 00:00:00-04:00,6.841013e+09,1.733052e+09,3.265369e+09,4.064702e+07,1.199947e+08,1.288211e+08
...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,1.830019e+10,8.455101e+09,1.499177e+10,2.322994e+09,1.087815e+10,1.032296e+10
2022-12-01 00:00:00-05:00,1.469106e+10,6.502553e+09,1.334138e+10,2.245281e+09,8.993878e+09,7.587261e+09
2023-01-01 00:00:00-05:00,1.086663e+10,7.016362e+09,1.048606e+10,3.218999e+09,9.419439e+09,9.435393e+09
2023-02-01 00:00:00-05:00,1.206116e+10,4.729593e+09,1.029523e+10,2.534151e+09,9.384571e+09,7.114399e+09
2023-03-01 00:00:00-05:00,1.136902e+10,4.349836e+09,8.589008e+09,1.954433e+09,1.019934e+10,6.379784e+09

In [165]:
punto_max= Market_Cap_Sel.max()
punto_max

MarketCap_AMGN    2.284639e+10
MarketCap_BIIB    2.742510e+10
MarketCap_GILD    4.220966e+10
MarketCap_INCY    8.974161e+09
MarketCap_REGN    2.416855e+10
MarketCap_VRTX    1.395112e+10
dtype: float64

In [ ]:
for column in Market_Cap_Sel:
    max= column.max()

In [144]:

##

MC1= Market_Cap_Sel['MarketCap_AMGN']
MC2= Market_Cap_Sel['MarketCap_BIIB']
MC3= Market_Cap_Sel['MarketCap_GILD']
MC4= Market_Cap_Sel['MarketCap_INCY']
MC5= Market_Cap_Sel['MarketCap_REGN']
MC6= Market_Cap_Sel['MarketCap_VRTX']
##

In [138]:
import matplotlib.pyplot as plt

In [160]:
plt.plot(Market_Cap_Sel(columns= ['MarketCap_AMGN','MarketCap_BIIB','MarketCap_GILD', 'MarketCap_INCY','MarketCap_REGN', 'MarketCap_VRTX']))

TypeError: 'DataFrame' object is not callable

In [86]:
precios.isnull().sum()

AMGN    0
BIIB    0
GILD    0
INCY    0
REGN    0
VRTX    0
dtype: int64

In [31]:
msft = yf.Ticker("MSFT")

In [30]:
msft.head()

AttributeError: 'Ticker' object has no attribute 'head'

In [8]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [22]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,32.791668,32.833332,28.645832,31.083332,31.083332,2792700
2000-01-04,29.875000,30.916668,28.583332,28.979168,28.979168,2935500
2000-01-05,28.708332,31.500000,25.000000,31.000000,31.000000,3390000
2000-01-06,30.166668,32.833332,29.666668,32.375000,32.375000,2742300
2000-01-07,32.333332,36.166668,32.333332,36.104168,36.104168,4736400
...,...,...,...,...,...,...
2023-03-16,259.459991,267.149994,259.369995,265.250000,265.250000,1010600
2023-03-17,264.790009,265.209991,260.739990,263.160004,263.160004,1602200
2023-03-20,264.649994,268.790009,262.760010,267.910004,267.910004,878400
2023-03-21,268.970001,268.989990,264.140015,266.149994,266.149994,621300
2023-03-22,266.109985,267.250000,260.950012,261.220001,261.220001,530100

In [32]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [47]:
payload = pd.read_html(url)

# Hay 2 tablas en la pagina de Wikipedia. 
first_table = payload[0]
second_table = payload[1]

# En la primera tabla los datos que se quiere.


df500_table = first_table

df500_table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [13]:
yf.pdr_override()

In [45]:
data = pdr.get_data_yahoo("BIIB", start="2000-01-01", end="2022-04-30")

[*********************100%***********************]  1 of 1 completed

In [46]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,32.791668,32.833332,28.645832,31.083332,31.083332,2792700
2000-01-04,29.875000,30.916668,28.583332,28.979168,28.979168,2935500
2000-01-05,28.708332,31.500000,25.000000,31.000000,31.000000,3390000
2000-01-06,30.166668,32.833332,29.666668,32.375000,32.375000,2742300
2000-01-07,32.333332,36.166668,32.333332,36.104168,36.104168,4736400
...,...,...,...,...,...,...
2022-04-25,209.820007,215.580002,208.419998,214.539993,214.539993,1040500
2022-04-26,213.000000,214.509995,206.520004,206.990005,206.990005,1110300
2022-04-27,207.619995,209.929993,206.240005,206.940002,206.940002,728800
2022-04-28,207.789993,211.289993,204.860001,210.410004,210.410004,876700
2022-04-29,210.669998,214.619995,206.970001,207.440002,207.440002,1049400